
.contact-form {
    padding: 10px;

    input:-webkit-autofill{
        -webkit-text-fill-color: #8e8e8e;
        transition: background-color 5000s ease-in-out 0s;
    }
  
    fieldset {
        border: none;
        font-weight: normal;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {


        box-sizing: border-box;
        outline: none;
        display: block;
        color: #8e8e8e;
        background-color: #181818;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        font-family: inherit;
        font-size: 18px;
        height: 45px;

        &.has-error {
            border-color: #f04242;
        }
    }

  
    textarea {
        height: 200px;
    }
  
    span {
        display: block;
        font-size: 14px;
        color: #f04242;
        padding-bottom: 10px;
    }
  
    button[type="submit"] {
        display: block;
        padding: 14px 39px 14px 39px;
        color: #ffffff;
        background: #e86d00;
        font-size: 18px;
        width: 100%;
        border: 1px solid darken(#e86d00, 10%);
        border-width: 1px 1px 3px;
        margin-top: 50px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.3s;
        outline: none;

        &:hover {
            background: #ff871c;
        }
    }

    [v-cloak] {
        display: none;
    }
}
